PORT=3000
FRONTEND_URL=http://localhost:3000
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

MONGO_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

RABBITMQ_URL=your_rabbitmq_url_here
RABBITMQ_QUEUE=notifications
